@import "../../global-styles/main.scss";

.header {
  background-color: $primary;
  color: $white;
  @extend %shadow;

  &__wrapper {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    font-size: 14px;
  }

  &__userActions {
    span {
      cursor: pointer;
    }
  }
}
