@import "./../../global-styles/main.scss";

.messenger {
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 20px;
  width: 100%;
  align-items: flex-start;
}

.dialogs {
  background-color: $white;
  @extend %shadow;
  border-radius: 3px;
  overflow-x: hidden;
}

.messages {
  background-color: $white;
  @extend %shadow;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__content {
    padding: 20px;

    display: flex;
    flex-direction: column;
  }
}
