@import "./../../global-styles/main.scss";

.messenger {
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 20px;
  width: 100%;
  align-items: flex-start;

  &__dialogs {
  }

  &__messages {
  }
}

.dialogs {
  background-color: $white;
  @extend %shadow;
  border-radius: 3px;
  overflow-x: hidden;
}

.messages {
  background-color: $white;
  @extend %shadow;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__content {
    padding: 20px;

    display: flex;
    flex-direction: column;
  }
}

.new-message {
  display: flex;
  padding: 15px;

  &__input {
    padding: 10px;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    border-radius: 3px 0 0 3px;
    background-color: $lighter;
  }

  &__submit {
    border: none;
    border-radius: 3px;
    background-color: $primary;
    color: $white;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 0 3px 3px 0;
  }
}
