@import "../../global-styles/main.scss";

.people {
  background: $white;
  @extend %shadow;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__loadButton {
    display: block;
    margin: 20px auto;
  }
}

.loadButton {
  background-color: $primary;
  border: 1px solid $primary;
  color: $white;
  padding: 5px 15px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
