@import "../../../../global-styles/main.scss";

.friend {
  display: flex;
  flex-direction: column;
  min-width: 0;

  &__avatar {
    height: 0;
    padding-bottom: 100%;

    overflow: hidden;
    border-radius: 50%;

    & img {
      width: 100%;
    }
  }

  &__name {
    margin-top: 5px;
    text-align: center;
  }
}
